[2015-10-09 19:15] bacongobbler opened #1 "re-implement test suite"
The v1 functional tests have been migrated over to `_tests`, but is yet to be implemented.

[2015-10-09 19:15] bacongobbler opened #2 "hook test suite into jenkins"
reliant on #1 to be implemented. Need tests to test first!

[2015-10-09 19:32] bacongobbler opened #3 "write configuration into postgres.conf"
At the present time, governor spawns a postgres instance with configuration as a runtime flag. I've been advised to change this behaviour to write the parameters to postgres.conf instead.

[2015-10-09 19:33] bacongobbler opened #4 "set some good memory defaults"
Some good starting points:

[2015-11-11 23:01] slack opened #5 "postgres Alpha Requirements"
To prove out the deis v2 integration we need to cut a release of deis/postgres that:
- [x] Deployable to K8S: Service def, RC def, repository follows [standard Deis pattern](https://github.com/technosophos/prototype-repo)
- [x] Installable by Helm (opt)
- [x] Is useable by deis/workflow and deis/controller components
- [x] Installation instructions documented in README
- [x] Installation linked to

[2015-11-11 23:50] technosophos opened #6 "add "master" label to pod on the fly"
Is it possible to add add a label like `master:true` to the pod spec on the fly? That would open up the opportunity to run minions as read-only slaves in the future.

/cc @atschabu

[2015-11-12 00:36] rimusz commented on #5
:+1:

[2015-11-12 00:50] rimusz commented on #5
we need a new chart `postgres-standalone` with rc, svc and secret to store db password

[2015-11-17 17:45] krancour opened #7 "Proposal: port boot script (governor?) to go"

[2015-11-17 18:08] krancour opened #8 "Proposal: containerize the development environment"
This is to lower the barrier to entry for hacking on Deis while also standardizing the development environment for all contributors.

[2015-11-17 20:58] bacongobbler commented on #7
Yup. Definitely on the roadmap. Python was not a great choice for concurrent progamming as governor requires.

[2015-11-17 21:30] arschles commented on #8
@krancour possibly overkill but I do a lot of my development in a container. explained in this post: https://medium.com/iron-io-blog/the-easiest-way-to-develop-with-go-introducing-a-docker-based-go-tool-c456238507d6

[2015-11-23 18:00] bacongobbler opened #9 "add etcd service.yaml"
let's make a very simple etcd and S3 service files that won't collide with any other component so we're not relying on upstream to manage the DNS names. All that we care about is that the service has the labels `provider: etcd` and `provider: s3`, along with `heritage: deis`.

[2015-11-23 18:01] bacongobbler opened #10 "deploy to quay and dockerhub"
related to #5

[2015-11-30 23:41] mboersma commented on #10
I've made several PRs to do this in a minimal way, so you may want to copy 'n' paste one of them: deis/slugrunner#2, deis/builder#10, deis/etcd#11, and deis/slugbuilder#3.

[2015-12-02 22:30] #10 closed, assigned to nobody

[2015-12-02 22:31] bacongobbler commented on #9
closing as this is being bundled with etcd

[2015-12-02 22:31] #9 closed, assigned to nobody

[2015-12-02 22:38] bacongobbler opened #11 "rename project to deis/database"
We have the service, replication controller and image name all as deis/database or deis-database for legacy purposes. We should rename this project to deis/database as well.

[2015-12-02 23:33] bacongobbler commented on #6
Right now we don't use labels. We just boot them all and they [race for a key](https://github.com/deis/postgres/blob/master/rootfs/app/governor.py#L45). First one takes master. There's no way to run other instances as read-only slaves at the moment, but this is something that I would like to eventually see with some on-the-fly configuration.

I'll have to think about this in a follow-up [rewrite o

[2015-12-02 23:35] bacongobbler commented on #3
related: #7

[2015-12-02 23:36] #2 closed, assigned to nobody

[2015-12-02 23:36] bacongobbler commented on #1
https://github.com/deis/postgres/blob/master/_scripts/ci/test.sh is now a thing.

[2015-12-02 23:36] #1 closed, assigned to nobody

[2015-12-03 17:20] #11 closed, assigned to nobody

[2015-12-04 01:21] #5 closed, assigned to nobody

[2015-12-21 20:46] krancour opened #14 "Document how to achieve master/slave configuration"

[2015-12-21 20:47] krancour opened #15 "Document how backup and restore work"

[2015-12-21 23:03] sgoings opened #16 "contrib/**/deploy.sh needs to move to standard _scripts/deploy.sh"
In order to make our releases as smooth as possible, I'd like for the travis deploy.sh script to be located in the same place in all the Deis v2 component repos. Right now that place is: __scripts/deploy.sh_

My version bump/release tool has problems with this repository because the travis deploy script lives in the contrib/*\* structure:

[code]

[2015-12-22 01:40] technosophos commented on #16
@sgoings Is this ready for review?

[2015-12-22 18:35] #16 closed, assigned to nobody

[2015-12-23 16:39] technosophos opened #18 "Move user and password to secrets"
We need to move the user and password to secrets, and then deal with all the implications of that.

[2015-12-23 16:40] technosophos opened #19 ""deis/database" xor "deis/postgres""
Helm is going to get much more strict about naming. Right now, the charts are for `deis/database` but the Chart.yaml says `deis/postgres`. We need to decide, and then standardize on that everywhere.

[2015-12-27 08:22] rimusz opened #20 "postgres does not start after k8s node reboot"
I have attached the persistent storage to `/app/data` in Deis-Lite chart.
When `kube-solo` gets rebooted I get the message:

[code]

Before starting postgres in container there should be check for the `/usr/share/postgresql/data/postmaster.pid` file and removed if it exists

[2015-12-28 20:11] #20 closed, assigned to nobody

[2016-01-11 21:55] bacongobbler opened #25 "update wal-e to use boto3"
While tinkering with wal-e, postgres and minio, I found a bug in boto in which the region name is inferred by the hostname with the v4 signature authentication handler, which is [required by minio](https://github.com/minio/minio#how-to-use-aws-cli-with-minio). boto2 hardcodes their region name with this authentication handler which makes it a non starter. However, boto3 allows us to configure the

[2016-01-19 21:59] bacongobbler commented on #7
closing as we've decided not to go with Governor and we're moving forward with #24.

[2016-01-19 21:59] #7 closed, assigned to nobody

[2016-01-19 22:00] bacongobbler commented on #6
Closing as multi-pod postgres is not something we want to target for v2. See #24.

[2016-01-19 22:00] #6 closed, assigned to nobody

[2016-01-19 22:00] #3 closed, assigned to nobody

[2016-01-19 22:01] #4 closed, assigned to nobody

[2016-01-19 22:02] bacongobbler commented on #4
we won't be able to determine what available resources are there for postgres to consume, so we'll have to document how to tune these settings when extending this image.

[2016-01-19 22:02] bacongobbler opened #27 "document how to extend this image"
see #4

[2016-01-21 20:30] bacongobbler opened #28 "pull out compose/governor"
We've decided that fault tolerance is more important than HA, so we should remove governor for the time being until we get #24 out the door.

[2016-01-22 18:07] slack opened #30 "Add healthcheck for v2.0.0-beta1"
Implement k8s health checks for the service.

[2016-01-22 18:08] slack opened #31 "Wal-e shipping to object storage"
Standard operation for v2.0.0 database component will be based on wal-e log shipping to configured object storage.

Should support on and off-cluster object storage.

[2016-01-22 18:10] bacongobbler commented on #30
We have a script to do health checks. All we need to do is plug into it for the chart: https://github.com/deis/postgres/blob/master/rootfs/bin/is_master

I'm surprised it wasn't in there in the first place!

[2016-01-22 18:11] bacongobbler commented on #31
For the interested, see #24 :)

[2016-01-22 18:11] slack opened #32 "Ship full backup to object storage at a regular interval"
Should support on and off-cluster object storage.

Support configurable backup retention via `wal-e delete retain X` where X comes from the replication controller.

[2016-01-22 18:13] slack opened #33 "Support optional shipping to tertiary storage"
Where primary object storage is on cluster (or same provider), support shipping a backup on an interval to tertiary storage.

[2016-01-22 18:16] slack opened #34 "Document data lifecycle and operational tasks"
Document database component functionality for v2 including:
- default shipping behavior
- default backup shipping behavior
- tertiary backup behavior

Backup/Restore procedure should be covered for:
- default operation (wal-e backup + replay)
- procedure to recover from complete failure (via tertiary storage)

[2016-01-29 19:56] #28 closed, assigned to bacongobbler

[2016-02-09 18:13] #30 closed, assigned to nobody

[2016-02-10 19:29] bacongobbler commented on #14
We're not targeting master/slave replication for v2. Closing!

[2016-02-10 19:29] #14 closed, assigned to nobody

[2016-02-16 17:33] arschles opened #37 "Run docker build on all PR builds"
Similar to what builder does in its [.travis.yml file](https://github.com/deis/builder/blob/master/.travis.yml#L16), postgres should run `make ... docker-build` to ensure that the Dockerfile is correct

[2016-02-16 17:39] bacongobbler commented on #37
[already done](https://github.com/deis/postgres/blob/master/.travis.yml#L14) :)

[2016-02-16 17:39] #37 closed, assigned to nobody

[2016-02-16 17:40] arschles commented on #37
:100:

[2016-02-16 23:24] bacongobbler opened #38 "remove kubernetes manifests"
No point in maintaining two manifests.

refs deis/charts#1

[2016-02-16 23:58] sgoings commented on #38
I got so excited for this issue! Haha!

[2016-02-17 04:12] bacongobbler commented on #38
:+1:

[2016-02-18 13:59] krancour commented on #38
If you do this, what is the plan for supporting some kind of hacking workflow where locally built changes can be deployed to a dev cluster?

[2016-02-18 14:06] bacongobbler commented on #38
the idea is that this will eventually be resolved upstream with helm. For now we've been doing the following for testing dev changes:

[code]

That way tests are made against minio.

[2016-02-18 16:35] arschles commented on #38
@bacongobbler mind naming this PR according to the [naming standards](https://github.com/deis/deis/blob/master/CONTRIBUTING.md#commit-style-guideline)?

[2016-02-18 16:36] bacongobbler commented on #38
it's an issue not a PR. No standards apply here ;)

[2016-02-18 16:36] arschles commented on #38
ugh, my bad. ignore me

[2016-02-18 18:05] #18 closed, assigned to kmala

[2016-02-18 21:15] krancour commented on #38
@bacongobbler

I get that, but shouldn't the hacking workflow not depend on that?  /  Doesn't that make things _way_ more complicated than they need to be for someone just wanting to hack on a single component?

It looks like you already have make targets for doing most of that.  With a few tweaks, the hacking workflow can be reduced to:

[code]

[2016-02-18 21:52] bacongobbler commented on #38
Hacking/testing complexity is still fairly high for postgres. If someone wants to hack on postgres without kubernetes, they're going to need an S3 account. I'm looking for ways to minimize the burden on developers to test this component without the need for kubernetes so the hacking workflow remains local, but at this time I don't think it's that hard to ask devs to use the deis charts to install

[2016-02-19 16:30] bacongobbler commented on #19
looks like the name isn't changing any time soon. Closing unless this becomes bothersome for people, which we can then revisit.

[2016-02-19 16:30] #19 closed, assigned to nobody

[2016-02-19 17:32] bacongobbler commented on #33
Pretty sure we were closing this in favour of documenting how to back Minio with persistent storage, correct?

[2016-02-19 17:32] bacongobbler commented on #32
Pretty sure we were closing this in favour of documenting how to back Minio with persistent storage, correct?

[2016-02-19 17:35] bacongobbler opened #41 "add integration tests for running postgres"
An example script that was originally implemented for #24, but can't seem to get postgres to talk to minio:

[code]

[2016-02-19 18:00] slack commented on #32
No. All configurations will require S3 compatible storage.

That requirement can be satisfied by minio for dev/test or off-cluster S3 storage for production configurations. Which means the postgres component should, out of the box, ship backups to the configured object storage.

[2016-02-19 18:20] slack commented on #33
The feature here is to support shipping to optional off-cluster storage. So not really relevant to minio.

[2016-02-22 16:52] krancour opened #42 "Run as non-root user"
This is a best practice that we should follow wherever we can.  In this case, it's probably pretty easy since it would appear that all the processes are already owned by user `postgres`.

[2016-02-22 17:16] bacongobbler commented on #42
[We already are running as non-root](https://github.com/deis/postgres/blob/master/rootfs/docker-entrypoint.sh#L105). Closing!

[2016-02-22 17:16] #42 closed, assigned to nobody

[2016-02-22 17:28] krancour commented on #42
@bacongobbler the processes that are running may be running as root, but if you exec into the container, you are root.  That's not good.

[2016-02-22 18:02] bacongobbler commented on #42
The only way an attacker can exec into the container are through two points: postgres itself and kubernetes. With the former, you're always running as the postgres user so the attack surface there is reduced to the database, but an attacker should not be able to gain root priveleges in the container. If an attacker is able to access kubernetes, then you've got bigger problems because that should n

[2016-02-22 18:07] #38 closed, assigned to bacongobbler

[2016-02-22 19:38] #34 closed, assigned to bacongobbler

[2016-02-22 20:35] slack opened #43 "Liveness check failing with 'Unrecognized input header'"
v2-beta:

[code]

[code]

[2016-02-22 20:39] bacongobbler commented on #43
a [quick check on Google](https://www.google.ca/search?q=Liveness+probe+errored:+Unrecognized+input+header&ie=utf-8&oe=utf-8&gws_rd=cr&ei=knHLVqK3CYzSjwOKqZ2oAg#q=Liveness+probe+error:+Unrecognized+input+header) seems to indicate this is a Docker error, which may indicate an upstream issue.

[2016-02-22 20:48] slack commented on #43
Yeah, likely k8s + docker 1.10.0: fsouza/go-dockerclient#455

[2016-02-22 21:05] bacongobbler commented on #43
ok, closing as something we can't reasonably fix here, as this affects all components. It's probably good to track it upstream or throw an issue on deis/deis to track it.

[2016-02-22 21:05] #43 closed, assigned to nobody

[2016-02-23 23:56] bacongobbler commented on #8
This is irrelevant to postgres at the moment as there is nothing to compile. It's all shell.

[2016-02-23 23:56] #8 closed, assigned to nobody

[2016-02-26 16:22] #25 closed, assigned to nobody

[2016-02-26 16:22] #31 closed, assigned to nobody

[2016-03-02 18:17] bacongobbler commented on #33
closed via #46

[2016-03-02 18:17] #33 closed, assigned to bacongobbler

[2016-03-02 18:18] bacongobbler commented on #15
closed via https://github.com/deis/workflow/pull/399

[2016-03-02 18:18] #15 closed, assigned to nobody

[2016-03-02 19:45] sgoings opened #47 "boto: NoRegionError: You must specify a region."
The database is having a rough time with life. Looks like botocore isn't being given a region:

[code]

[2016-03-02 20:39] bacongobbler opened #49 "boto3 not reading information from ~/.aws/config"
This is partially the reason why #47 occurred. I had to add an ugly hack in WAL-E to [hardcode the signature version to s3v4](https://github.com/deis/wal-e/commit/faaf39492db4b3bd55b3a2de07255a63f2360c26) for the same reason. The fix for #47 is to set AWS_DEFAULT_REGION, but there is no equivalent for setting the signature version in boto3.

This smells like an upstream issue with boto3 (or our us

[2016-03-02 20:55] bacongobbler commented on #49
upstream feature request: https://github.com/boto/boto3/issues/528

[2016-03-02 21:05] bacongobbler opened #50 "update README"
the readme links to compose/governor so there's a lot of changes that need to be made there.

[2016-03-02 21:08] #47 closed, assigned to bacongobbler

[2016-03-02 21:21] bacongobbler opened #51 "pin wal-e's dependency on boto3 and botocore to a known version"
boto3 is seemingly more unstable than boto2. Time to pin!

[2016-03-02 23:33] bacongobbler opened #52 "write documentation on postgres' architecture"
A few people have expressed that they do not understand the backup/restore process very well. Let's document that better!

[2016-03-03 00:19] bacongobbler opened #53 "perform base backups on a regular schedule"
Every so often, we should periodically run `wal-e backup-push`.

[2016-03-03 00:24] slack commented on #53
Retention should be configurable as well. As per the now closed(?) issue #32

[2016-03-03 05:12] krancour opened #54 "Recovery doesn't go so smoothly"
@bacongobbler and I have already discussed this at length.  I just want to formally capture the issue and what is known about the root cause.

I've been testing out various components in conjunction with S3 as the object store backend today.  One test I've been through a number of times now includes killing the database pod to ensure its replacement is properly restored from backups in S3.  For th

[2016-03-03 05:26] krancour commented on #54
Looks like https://github.com/deis/charts/pull/129 addresses the `livenessProbe` issue.  The rest of my OP remains a concern.

[2016-03-03 05:38] bacongobbler commented on #54
After a bit of testing, I've found that the first bullet point is moot. Once the database is stopped, it is rebooted, whcih then it notices it was halfway through a recovery and will continue replaying WAL logs from the last base backup. Only the `livenessProbe` is a real issue/blocker for beta.

This actually is untrue, and I apologize for confusing you :)

Have a look at the following branch log

[2016-03-03 05:47] krancour commented on #54
@bacongobbler does this script not run next and start backing up the DB immediately upon next reboot?  (Even if it's only partially restored at that time?)

https://github.com/deis/postgres/blob/16d13629d72a512b9f99521de2064d5cf0f254b5/rootfs/docker-entrypoint-initdb.d/004_setup_backup_restore.sh

This was my actual concern... I probably did not articulate that well enough.

[2016-03-03 05:54] bacongobbler commented on #54
Nope! Even with `archive_command` and `recovery_command` set, postgres is smart enough and knows first to boot in recovery mode, then once it's replayed all WAL logs it will boot and _then_ ship backups.

From http://www.postgresql.org/docs/9.1/static/continuous-archiving.html:

[2016-03-03 06:02] krancour commented on #54
Ah.  Well that's good then!  I'm going to play with this a bit more first thing tomorrow, chiefly for my own edification.  Thanks for all the help!

[2016-03-03 16:21] bacongobbler commented on #54
I'm going to close this since both points have now been addressed, but please feel free to re-open if your testing shows otherwise. :)

[2016-03-03 16:21] #54 closed, assigned to nobody

[2016-03-03 16:43] krancour commented on #54
Thanks again for helping me through this.

[2016-03-03 17:46] bacongobbler opened #55 "the pod is being reported as in a ready state ​before​ the restore completes"
From Slack:

[code]

This isn't a core issue since client connections will be refused with a "database is busy/in recovery" error, but we should make the health check smarter.

Note that this was something I pointed out in https://github.com/deis/postgres/pull/24#issuecomment-188451981

[2016-03-03 17:56] bacongobbler opened #56 "deis/postgres dying halfway through restore"
~~This seems like an upstream kubernetes issue: https://github.com/kubernetes/kubernetes/issues/7891#issuecomment-191886569~~

~~I guess the crutch solution is to remove the `readiness` probe and let the database handle its own health checks, or find a way for readinessProbes to work with postgres that won't end up killing the pod.~~

Just looks like the container is being killed off:

[code]

[2016-03-04 16:30] jchauncey commented on #56
This looks really close to the problem I was seeing with fluentd

[2016-03-04 17:02] krancour commented on #56
@jchauncey I think this is unrelated to the fluentd problem you're referencing.  I troubleshot this with @bacongobbler and one thing I kept seeing was that if I put a long enough timeout on the boot of the postgres server that initiates the recovery process and wait for it until it completes, everything is cool.  Things only fall apart when we move on from that step prematurely, which seems to res

[2016-03-04 23:59] arschles commented on #41
@bacongobbler has minio started serving on a valid IP? As you mentioned in https://github.com/deis/charts/pull/142#issuecomment-192525656, the minio component assumes it's executing in a k8s pod (with access to the full suite of in-container env vars).

If it would help your testing, I can modify the component to be able to run outside k8s.

[2016-03-05 00:38] bacongobbler commented on #41
@arschles looks like it's working now! I'll have to debug deis/charts#142 further.

[2016-03-05 00:39] arschles commented on #41
glad to hear it. let me know how I can help on deis/charts#142

[2016-03-07 18:12] #41 closed, assigned to bacongobbler

[2016-03-08 16:36] bacongobbler commented on #56
keeping open since we know this is still an issue.

[2016-03-12 21:31] MaxenceAdnot opened #63 "CrashLoopBackOff on the database"
I'm trying to deploy the deis-dev chart on AWS and it seems that the database refuses to start...

CoreOS version is 976.0.0 (alpha)

_docker logs 6ece7bde9d_ :

[code]

I also noticed that line in kernel logs :

[code]

I don't really like this SELinux message :/

Any ideas ?

[2016-03-13 04:31] slack commented on #63
We spoke a bit on the new Deis slack! (Shameless plug, join us at https://slack.deis.io)

I was able to reproduce on a CoreOS 983.0.0 cluster out of the box. May be related to `userns` + selinux + Docker 1.10.2 but I haven't pinned down a specific change just yet.

I was able to successfully boot the postgres component by specifying a volume, mounted at `/var/lib/postgres`.

@MaxenceAdnot if you c

[2016-03-13 04:41] MaxenceAdnot commented on #63
Thank you for the quick fix. I will try this in a few hours and let you know.

[2016-03-13 07:59] MaxenceAdnot commented on #63
Your patch is working fine ! Thank you @slack

[2016-03-14 05:22] slack commented on #63
Excellent, thanks for testing! Will get this merged in the morning.

[2016-03-14 23:10] sgoings opened #64 "Publish immutable artifact tags + canary version to Docker registries"
We want to have the ability to have deis/charts reference a specific immutable image which will enable us better traceability on issues that come into various components.

What we've done with efforts in other repositories is publish a version:
- `git-[short sha]` that will never be overwritten
- `canary` that will move to reference the latest version available of a component

Examples of the easi

[2016-03-15 03:24] #32 closed, assigned to bacongobbler

[2016-03-15 03:24] #53 closed, assigned to bacongobbler

[2016-03-15 15:13] krancour opened #66 "Add SSL support"
I'm speaking simply of encrypting traffic to the db... _not_ mutual auth via client certs.  This is fairly easy to do in Postgres.  All that is likely required here is to mount a k8s secret containing the cert and private key and then use that if it exists / isn't empty.

[2016-03-15 15:46] bacongobbler commented on #63
The upstream issue for this is https://github.com/docker/docker/issues/7952. It seems to be Docker + btrfs with SELinux enabled causes this issue. Can you try running docker on a non-btrfs backend and see if you see the same issue?

This did not necessarily resolve the issue, just circumvent it. Volume mounts are likely non-btrfs so SELinux is playing nicely with it. This project is also not desig

[2016-03-15 15:53] slack commented on #63
[code]

[2016-03-15 15:55] MaxenceAdnot commented on #63
I don't think CoreOS is using btrfs at all (from my memory Docker on CoreOS is using overlay as storage driver).

[2016-03-15 15:55] bacongobbler commented on #63
Some concrete evidence supporting this would be this comment: https://github.com/docker/docker/issues/7952#issuecomment-54989852

@slack I think this includes overlayfs as well, judging from that comment:

[2016-03-15 16:05] bacongobbler commented on #63
Reading further down the page, the temporary fix seems to be removing `--selinux-enabled` from the docker daemon's option flag list. Overlay is [indeed broken](https://github.com/docker/docker/issues/7952#issuecomment-76193046) as well.

Source for fix: https://github.com/docker/docker/issues/7952#issuecomment-56435657

[2016-03-15 16:44] bacongobbler commented on #63
@MaxenceAdnot how did you deploy this cluster on AWS? Just following the kubernetes documentation and ran `KUBERNETES_PROVIDER=aws ./cluster/kube-up.sh`?

[2016-03-15 16:46] MaxenceAdnot commented on #63
I used the kube-aws tool provided by CoreOS to deploy Kubernetes on AWS.

[2016-03-15 18:34] bacongobbler opened #67 "integration tests are finding 6 backups"
see https://github.com/deis/postgres/pull/65#issuecomment-196917516

[2016-03-15 20:03] bacongobbler commented on #63
Also note that Docker has disabled SELinux support on v1.9.1 due to the above bug. This is what I get on Fedora 23 with SELinux enabled and with the overlay driver:

[code]

Setting `--selinux-enabled=false` in the options list allows me to start Docker and fixes the issue noted in the OP.

@MaxenceAdnot can you confirm that disabling SELinux support on your CoreOS cluster fixes the issue?

[2016-03-15 20:08] bacongobbler commented on #63
This is also something we should bring up with CoreOS as well so their kubernetes clusters work OOTB.

[2016-03-15 22:28] #64 closed, assigned to krancour

[2016-03-16 07:26] carmstrong commented on #63
I'm seeing this as well on kube-aws. Details:

[code]

[code]

[code]

I'm using the latest kube-aws release as well as @slack's modified chart (using the latest from deis-dev) to no avail.

Investigating the Docker journal:

[code]

The following seems to be relevant:

[code]

Note that selinux is enabled by the `/usr/lib/coreos/dockerd` wrapper on CoreOS. There is a configuration directive, `ARG

[2016-03-16 07:33] carmstrong commented on #63
`dmesg` also shows:

[code]

[2016-03-16 16:18] bacongobbler commented on #67
So I found the core issue:

[code]

It turns out that the image on CI does not have the latest changes from deis/wal-e#3. Busting the cache by adding `--no-cache` to `docker build` fixes this, but we should probably tag to a commit instead of a branch so docker's cache will bust when we implement these changes upstream.

[2016-03-16 16:58] bacongobbler commented on #50
fixed in #68

[2016-03-16 16:58] #50 closed, assigned to bacongobbler

[2016-03-16 22:22] #52 closed, assigned to nobody

[2016-03-17 00:25] arschles opened #71 "Use deis-objectstorage-secret.yaml to get S3 credentials"
[Object storage docs](https://github.com/deis/workflow/blob/master/src/installing-workflow/configuring-object-storage.md#credentials) should also be upgraded when this work is done.

[2016-03-17 01:06] krancour opened #72 "Deal with object storage configuration more generically"
See here: https://github.com/deis/postgres/blob/master/rootfs/docker-entrypoint-initdb.d/001_setup_envdir.sh#L5-L26

In that section of code above, variables first get their values from files in the directory specified by the env variable `WALE_ENVDIR`... but then, as a special case, if s3 is being used, the variables are overwritten with values from files in an entirely separate location.

This i

[2016-03-17 01:07] krancour commented on #72
cc @arschles @bacongobbler

[2016-03-17 05:00] bacongobbler commented on #72
I completely and wholeheartedly agree. This was a halfway house before the object store was fully fleshed out. It would make sense to grab all information from the object storage secret in the future, but I decided to defer it to after beta so we can get this in user's hands.

This is item number 1 of 1000 things I'd like to do to postgres, but at some point there has to be a cutoff ;)

[2016-03-17 16:08] arschles commented on #72
+1 as well. We have similar situations in other components too. My vote for this component is to leave as-is for beta (and as such I've marked this issue as RC).

But, for beta purposes, we should improve the official documentation to show how to configure for S3. [The object storage config section for deis/database](https://github.com/deis/workflow/blob/master/src/installing-workflow/configuring-

[2016-03-17 19:34] MaxenceAdnot commented on #63
With the beta channel, @carmstrong and I experience some issues with the kube-aws tool.
No running container with a `docker ps`, kubernetes is not initialized ...

[2016-03-17 19:36] bacongobbler commented on #63
Just for posterity, I did notice at [their documentation](https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws.html) that the only Release Channel value that is supported at this time is `alpha`, so that seems to be the cause for the issues you're having on the beta channel.

[2016-03-17 20:00] slack commented on #63
Yep, Beta worked without issue until the recent kubelet-wrapper merges (which don't exist in beta). That is why k8s fails to boot using v0.4.1 of kube-aws on Beta.

[2016-03-17 22:10] bacongobbler commented on #67
That was related but this is still occurring on master.

[2016-03-17 22:14] bacongobbler commented on #67
this is a bug but not a core issue. One of the older releases are being stubborn when getting removed from minio so I'm going to remove this from showstopper. It's not a significant issue that affects the platform and we could potentially ship beta with this bug.

[2016-03-18 18:04] bacongobbler commented on #56
This is intermittent and occasionally shows up, but after destroying and re-creating three separate clusters (2 minio, one S3) I don't see this issue, however let's keep posting issues on this to see if we need to come up with another solution.

[2016-03-24 20:54] bacongobbler commented on #28
Note that a new project called [citus](https://github.com/citusdata/citus) has come out which should solve problems from users who want a HA solution rather than a fault-tolerant system.

[2016-03-29 16:09] rimusz opened #75 "GC Storage for backups does not work"

[2016-04-11 17:42] #72 closed, assigned to kmala

[2016-04-11 18:32] kmala commented on #71
fixed in https://github.com/deis/workflow/pull/138

[2016-04-11 18:32] #71 closed, assigned to nobody

[2016-04-11 18:43] bacongobbler opened #84 "refactor /bin/create_bucket"
Right now all different storage backends are configured in one giant python script. This should really be broken down into separate scripts (`/bin/create-$DATABASE_STORAGE-bucket`) so it's less of a maintenance hassle.

[2016-04-11 18:44] bacongobbler commented on #75
fixed in #79.

[2016-04-11 18:44] #75 closed, assigned to nobody

[2016-04-11 18:45] #63 closed, assigned to bacongobbler

[2016-04-12 22:06] mboersma opened #86 "Bucket isn't recreated if minio restarts"
If minio is restarted, errors appear in both the minio logs:

[code]

and in database:

[code]

Ideally the wal-e script could handle this by recreating the bucket as needed. Storage may be lost but these particular errors could be avoided.

[2016-04-12 22:08] bacongobbler commented on #67
this popped up again in CI: https://travis-ci.org/deis/postgres/builds/122642210

[2016-04-13 17:14] bacongobbler commented on #56
proof that backups are flaky at the moment: https://travis-ci.org/deis/postgres/builds/122642210#L4938

[2016-04-15 17:53] mboersma commented on #67
Another sighting: https://travis-ci.org/deis/postgres/builds/123393663

[2016-04-18 17:20] bacongobbler opened #90 "cannot communicate with minio if listening on port 80"
See https://github.com/deis/charts/pull/142

[2016-04-21 16:29] bacongobbler commented on #56
closing as this behaviour has suddenly disappeared. Will re-open if this occurs again.

[2016-04-21 16:29] #56 closed, assigned to bacongobbler

[2016-04-22 18:57] bacongobbler commented on #51
wal-e pins boto3, which in turn pins botocore. This hasn't actually turned out to be an issue. Let's revisit if there's an issue down the road, but I think it's safe to say that boto3 will be stable.

[2016-04-22 18:57] #51 closed, assigned to bacongobbler

[2016-04-22 18:59] bacongobbler commented on #67
Unfortunately as soon as we restart the job to go green, the old build goes away. Anyhoo this is a problem but it doesn't seem like it's a core issue; just a CI/delay issue.

[2016-04-27 14:05] sstarcher opened #92 "S3 object store on aws should not require credentials"
accesskey and secretkey should not be required as aws-sdk when running on an AWS instance will pull the credentials from the metadata service

[code]

[2016-04-27 23:11] bacongobbler opened #93 "test on s3, gcs and azure"
Optimally we should be able to test on all four supported backends (minio, aws, gcs and azure) so we can ensure that it all works across all supported backends.

[2016-04-28 03:12] mboersma opened #94 "wal-e restore errors on GCS"
When object storage is pointed at GCS, trying to recover the platform shows errors in wal-e, specifically

[code]

A valid backup may be restored, but wal-e may find the wrong generation of data apparently. So the situation is difficult to discern because apps may appear to completely or partially restored through the controller.

See the gory details at https://gist.github.com/mboersma/90799b42d2

[2016-04-28 05:49] bacongobbler commented on #94
ping @kmala, any thoughts?

[2016-04-28 06:42] kmala commented on #94
i think the error `lzop: <stdin>: not a lzop file` occurs because wal-e tries to find backup files one after the other until it doesn't find a file and assumes it is the end of backups because of which this is printed in the log as nothing got downloaded.I assume this error should be printed for other storage type also not just gcs.

[2016-04-28 07:26] bacongobbler commented on #94
Sorry, I was more referring to if you know any case where using GCS as the backend would fail to replay or fetch WAL logs as opposed to other storage backends. For example, I think GCS is the only one that [refreshes an oauth2 token every so often](https://gist.github.com/mboersma/90799b42d29375fdcf0f7ddf4c5bc17e#file-wal-e-restore-log-L99-L100). I doubt that has anything to do with the problem, b

[2016-04-28 14:29] mboersma commented on #94
Also in case I wasn't clear initially, this (or some other behavior) does have the end-user effect of restoring the wrong apps.

For example, I destroyed three apps and created a new one. Then after a recovery I had the original three. Or: once I did a recovery with an app that hadn't deployed yet, so no build or release to recover. After successful builds existed, I still could not coerce a recov

[2016-04-28 14:31] mboersma commented on #94
Also I couldn't make any of the above happen using Amazon S3, so it does appear to be specific to Google storage.

[2016-04-28 15:16] bacongobbler opened #95 "consider removing wal-e"
Right now we are using wal-e to back up WAL logs and replay them. However we are maintaining our own version of wal-e and we have hit several issues which have been difficult to debug (#94, #97, #67, #56, and #51 to name a few). We should consider if it might be worth using cloud storage clients directly (or [object-storage-cli](https://github.com/deis/object-storage-cli)) to simplify usage.

[2016-04-28 15:28] bacongobbler commented on #94
To add to this with my own reproduction steps, I was able to recover quite nicely using vagrant and GCS:

[code]

This is still a concern but I think it's ok to ship it and try to get feedback on how this bug would occur.

In the future, let's try the following:
- get the logs from database
- `helm uninstall workflow-beta3 -n deis`
- `helm install workflow-beta3`
- observe logs from database

We s

[2016-04-28 17:28] kmala commented on #94
I had tested the same on a GKE+GCS cluster setup and was able to successfully recover

[2016-04-28 17:31] mboersma commented on #94
This was reproducible for me but seems isolated, so I'm moving it to beta4 for a resolution.

[2016-04-29 21:11] arkkanoid commented on #63
Hi, It seems I have the same error I explain in:
https://github.com/deis/workflow/issues/210
I use kubernetes 1.2, CoreOS alpha (1010.1.0), Deis beta2, kube-aws 0.6.0
This error should be solved?

[2016-04-29 21:20] bacongobbler commented on #63
@arkkanoid the root issue is https://github.com/coreos/coreos-kubernetes/issues/317. There's nothing we can do on our end other than contribute upstream.

[2016-05-11 18:30] krancour opened #97 "Possible bug: Recovery from s3 is missing apps when complete"
Logs captured during recovery:

[code]

cc @bacongobbler

[2016-05-11 18:32] mboersma commented on #97
Sounds somewhat similar to #94, which we didn't get to the bottom of (yet).

[2016-05-11 18:36] bacongobbler commented on #97
yep. definitely a duplicate of #94. I intend to rewrite the restore process for rc1 via https://github.com/deis/postgres/issues/95. There was no changes made this release, so it's not anything new. @sgoings and @slack are aware of this issue.

[2016-05-11 18:36] #97 closed, assigned to nobody

[2016-05-11 18:41] bacongobbler commented on #94
To note, this is not a GCS-specific issue, but it occurs with all restores on occasion. I could not get to this for beta4 but it is my top priority for rc1 to figure out a solution via #95 or by other means.

[2016-05-11 18:45] arschles commented on #95
@bacongobbler a few questions:
- Does wal-e stream the WAL to object storage, take snapshots, something else?
- Is it possible to use wal-e to replay the WAL but do our own thing to ship it to/from object storage?

Also, should this be in RC1?

[2016-05-11 18:51] bacongobbler commented on #95
Yes and no. WAL-E has a command called `wal-push` that archives the WAL log as an lzop archive and ships the wal log to s3/minio/gcs when the [archive command is invoked](https://github.com/deis/postgres/blob/master/rootfs/docker-entrypoint-initdb.d/004_setup_backup_restore.sh#L7). Postgres invokes the archive command as necessary based on the size of the WAL log and the archive_timeout, which for

[2016-05-11 18:56] arschles commented on #95
@bacongobbler thanks for all the info. sounds like it'll be involved to split the replay code from the storage code in wal-e. since wal-e includes the recovery logic and the cloud storage clients (or object-storage-cli) are missing that, do you have ideas for the way forward on that front?

[2016-05-11 19:00] bacongobbler commented on #95
Changing the archive_command to use s3cmd and similarly for restore_command will achieve the same thing as we do today. Most production databases have a mounted disk at `/mnt/backup-server` and they just use `cp` to archive and restore to their persistent mounted disk. I predict that the same can be achieved on our end by replacing `cp` with `s3cmd` (famous last words).

The big downside to that i

[2016-05-11 19:18] arschles commented on #95
@bacongobbler got it. if we copied the disk _and_ the WAL using s3cmd (or similar), would that get us PITR?

From my cursory research on [the postgres docs on continuous archiving](http://www.postgresql.org/docs/9.1/static/continuous-archiving.html): `we can combine a file-system-level backup with backup of the WAL files`

Also, tangentially related is that by doing the copy operation ourselves is

[2016-05-11 19:30] bacongobbler commented on #95
Nice! So it seems we could replicate wal-e with object-storage-cli and [`pg_basebackup`](http://www.postgresql.org/docs/9.1/static/app-pgbasebackup.html) for the PITR, then upload that using object-storage-cli. I'll play around with this in rc1.

[2016-05-11 19:34] bacongobbler commented on #95
An excellent tutorial explaining the process is shown [here](https://opensourcedbms.com/dbms/point-in-time-recovery-pitr-using-pg_basebackup-with-postgresql-9-2/).

[2016-05-12 18:20] slack commented on #95
I still feel strongly that attempting to re-implement database backups and wal-shipping at this stage seems like a really bad idea.

For example, we aren't sure if the missing apps are due to the fact that the database was killed _after_ the data should have been shipped. In #97 it would be good to know that either archive_timeout or the size trigger had fired _and_ shipped data to storage and was

[2016-05-12 18:26] bacongobbler commented on #95
But... I like re-writing everything from scratch so close to a stable release! ;)

That's a fair opinion. I'll see if there's a way we can reliably reproduce this issue and start drilling down from there.

[2016-05-12 20:14] vdice opened #100 "PG_VERSION no longer found"
`make docker-build` (and hence, TravisCI builds) is/are failing in postgres on master due to:

[code]

We need to find the next acceptable `PG_VERSION` that can actually be found/used.

[2016-05-12 21:19] #100 closed, assigned to vdice

[2016-05-13 20:36] bacongobbler commented on #94
2 days of debugging this on vagrant, standalone (using the integration tests), AWS and GCE with S3 and GCS and I still cannot seem to reproduce this issue. This is still a concern, but if anyone's able to reproduce, please make sure to post logs here.

[2016-05-13 20:39] bacongobbler commented on #95
I was not able to reproduce the failure case as seen in https://github.com/deis/postgres/issues/94#issuecomment-219152845. At this point I'd rather not re-write the world until we've identified the issue.

[2016-05-16 15:05] bacongobbler commented on #95
we're not going to remove wal-e, but lets continue the debugging in #94.

[2016-05-16 15:05] #95 closed, assigned to bacongobbler

[2016-05-20 18:22] bacongobbler commented on #94
punting to 2.0

[2016-05-20 23:48] krancour commented on #94
I've observed that if I restore from backup, everything goes fine.  If I then make more additions to the database (e.g. create more apps or make app config changes), a subsequent attempt to restore from backup returns me to the same state as that initial restore.

I think that could possibly be related to this issue.

[2016-05-23 22:15] mboersma commented on #67
Here is a failure in Travis CI [with logging](https://travis-ci.org/deis/postgres/builds/132408037) from #102:

[code]

The very next test run against the same master commit [passed](https://travis-ci.org/deis/postgres/builds/132408037).

[2016-05-23 23:17] vdice commented on #67
It appears the proposed fix in #102 unfortunately didn't completely address the issue; therefore moving this the `v2.0` milestone

[2016-05-24 04:09] bacongobbler commented on #67
No #102 was just to expose what the issue is, which is exactly what I assumed (new base backup, old one wasn't deleted due to sync issues). This is a low priority fix because it's not a massive issue nor does it cause any damage to the database. Just a little lag along with checking right in the middle of a backup operation is all. Perhaps a fix would be to stop the database and check the number o

[2016-05-25 17:34] bacongobbler commented on #94
@krancour I think you found our smoking gun. When I restored from my first backup, all was fine. However, the second and subsequent backups restored back to the initial backup, losing all new data.

Logs from "old" (read: first restoration after creating a few apps) database, saving up to `00000002000000000000000B.lzo`: https://gist.github.com/bacongobbler/44b99684fc0b7c8b7bd34881020f204f

And the

[2016-05-25 17:38] bacongobbler commented on #94
fix to the problem here: https://github.com/wal-e/wal-e/issues/229#issuecomment-203183909

[2016-06-01 19:08] bacongobbler commented on #86
once minio is deleted, all data is lost, including previous WAL logs shipped. There's no way to tell wal-e to re-push all lost data in that bucket once it's been deleted. Perhaps at this point it's best to document to restart the database so the bucket is re-created and a new base backup is created?

[2016-06-02 00:11] bacongobbler opened #108 "/bin/backup should handle shutdowns gracefully"
If we were to stop the container in the middle of a base backup, it is unknown what will happen to the backup.

See https://github.com/deis/postgres/pull/104#discussion_r65463009 for discussion/potential solutions to this problem.

[2016-06-06 15:30] arkkanoid opened #110 "S3 Could not connect to the endpoint URL"
Trying to configure Deis-rc1 with S3, the database fails on start.

The Object Storage configuration is set in the eu-west-1 region.
I can connect with boto3 in the same bucket with the same credentials succesfully.
I've the same configuration in Deis-beta2 and it still works.

[code]

[2016-06-06 15:36] bacongobbler commented on #110
would you please share the credentials you placed in `generate_params.toml`, masking your access and secret key?

`cat ~/.helmc/workspace/charts/workflow-rc1/tpl/generate_params.toml`

[2016-06-06 18:31] bacongobbler commented on #92
I think there are technical limitations to getting this to work as we need to know more about the host to determine if the database is running on an AWS instance. Any thoughts on how we can determine that in a clean way?

[2016-06-06 18:36] sstarcher commented on #92
I don't think it's necessary to determine if it's an AWS instance.  If the values are not required to be set and can be left empty that should solve the issue.

[2016-06-06 18:40] bacongobbler commented on #92
Good thought, but what about other providers where this information is mandatory? I'd think it'd be better to fail fast on bare metal when an AWS access key is not provided rather than an obscure connection error from boto3.

I think we'd need to look into that first to see if that's an easy enough fix to do.

[2016-06-06 18:54] bacongobbler opened #111 "signature invalid when installing `gosu`"
When creating a fresh docker image, I'm seeing this in the build logs:

[code]

[2016-06-06 18:58] sstarcher commented on #92
Sure it depends at what time you want to catch configuration errors.  Currently with the Deis setup through helm I can supply invalid or blank AWS credentials and those are not caught until runtime.  The only thing stopping this from functioning as is, is that the code currently errors at runtime if the credentials are empty.

Instead of erroring if the credentials are empty it could attempt to ma

[2016-06-06 21:19] arkkanoid commented on #110
[code]

Could be a problem related with the AWS region?

[2016-06-06 21:24] bacongobbler commented on #110
quite likely.

[2016-06-07 15:58] #94 closed, assigned to bacongobbler

[2016-06-07 22:22] krancour opened #114 "Second db restore fails"
A previous restore from backup succeeded, but on a second restore, the pod goes into a crash loop with the following logs:

[code]

[2016-06-07 22:27] bacongobbler commented on #114
this is likely fixed via https://github.com/deis/postgres/pull/112 but I have no evidence to back that up as I'm not sure what causes this. If you have a tarball of your minio buckets I'd be happy to try and reproduce.

[2016-06-07 22:29] krancour commented on #114
I've been able to produce this same outcome on two test clusters now-- one in micro-kube and one in AWS. Both were using minio.

[2016-06-07 22:30] bacongobbler commented on #114
An interesting thread on this discussion, implying that the server was in the middle of a backup during shutdown, was cleanly shut down but hit the checkpoint error due to that file: https://www.postgresql.org/message-id/D960CB61B694CF459DCFB4B0128514C293CEB7@exadv11.host.magwien.gv.at

[2016-06-07 22:30] krancour commented on #114
I'll see if I can tar up the minio buckets.

[2016-06-07 22:34] bacongobbler commented on #114
thanks! I'd like to see if removing the backup label will allow you to carry on without issues.

[2016-06-07 22:47] arschles commented on #114
I just repro-ed the same issue on GKE with minio, using the same repro steps

[2016-06-08 05:33] bacongobbler commented on #114
this can be reliably reproduced with the following tarball and patch. Just place dbwal.tar.gz at `contrib/ci/tmp/minio/dbwal.tar.gz`, apply the patch and follow the logs from `make docker-build test`. I am currently working on a fix to this issue, but here is a reliable starting point from which we can craft some fancy integration tests so this never happens again.

https://gist.github.com/bacongo

[2016-06-08 05:46] bacongobbler commented on #114
branch to test my hunch: https://github.com/bacongobbler/postgres/tree/fix-checkpoint-error

~~specifically https://github.com/bacongobbler/postgres/commit/8ee5e4c5c14b309c1a14e80c3592aadb8c91c3aa should hopefully fix the issue.~~

EDIT: nope. see below.

[2016-06-08 07:04] bacongobbler commented on #114
So I noticed something while looking into the `backup_label` file...

[code]

Notice that the start WAL location is 000000020000000000000010? Check out what's in minio:

[code]

Notice something missing? ;)

It appears that the first WAL log is (occasionally) not being shipped to minio, and that's because we did not enable `archive_mode = on` for the first reboot in `003_restore_from_backup.sh`, w

[2016-06-08 07:18] bacongobbler commented on #114
credit goes to https://github.com/wal-e/wal-e/issues/251 for pointing me in the right direction.

[2016-06-08 08:15] bacongobbler commented on #114
closing. As travis points out, this does not fix the issue.

[2016-06-08 14:46] arkkanoid commented on #110
My fault. I'd a wrong configuration in my Kubernetes cluster.
Thanks

[2016-06-08 14:46] #110 closed, assigned to nobody

[2016-06-08 17:19] #114 closed, assigned to bacongobbler

[2016-06-14 18:31] kmala commented on #92
fixed by #117

[2016-06-14 18:31] #92 closed, assigned to nobody

[2016-06-18 14:21] tback opened #118 "Information on how to configure bucket storage should be in this repository (too?)"
Those who want to use postgres standalone will wonder how to configure this container. Right now the information is here: https://deis.com/docs/workflow/installing-workflow/configuring-object-storage/#deisdatabase . I think it'd be great if this information was also in the readme for deis/postgres.

[2016-06-18 16:56] bacongobbler commented on #118
Good thought. I was intending to tackle this in #27. For now you can mimic the steps in the integration tests to set up postgres outside of kubernetes. :)

[2016-06-20 05:56] monaka opened #119 "Error messages on pushing WAL to Azure blob."
The deis-database instance in my cluster logs like below.
I use Azure blob and the node instance is Standard A3.
K8s master and Etcds are located in another instances.
There is no additional application.
So I think the spec is enough.

I got response by calling `curl http://monadeis2.blob.core.windows.net/` in the pod
So network is reachable.

Even though I got error messages, it seems uploads are

[2016-06-20 06:02] monaka commented on #119
Storage account (Standard-LRS) and VMs are placed in the same zone.

[2016-06-20 08:09] monaka commented on #119
I reviewed code in WAL-E and tried to apply some hacks.
Their current code may be not stable.
(Generally, asynchronous I/O is difficult as you know.)
It might be better to use previous versions.

[2016-06-20 14:55] bacongobbler commented on #119
We use [a fork of wal-e for Workflow](https://github.com/deis/postgres/blob/ebd3e1c0f8d7a2580d5c097a924ae3a55553f772/rootfs/Dockerfile#L48). You might want to try that first before submitting tickets upstream.

[2016-06-20 19:55] monaka commented on #119
I see Deis uses forked version.
But regards with my revier, this issue isn't caused by patches.
I'll try patched version also. And also I informed to upstream to same time.

[2016-06-21 06:16] monaka commented on #119
I close this issue as I move this issue.

[2016-06-21 06:16] #119 closed, assigned to nobody

[2016-06-27 21:15] monaka opened #123 "rebooting loop after recovered by WAL-E."
The deis-database on my cluster was in rebooting loops.
I'm not sure the reason why for now because It seems be started in my sleeping time.

[code]

[2016-06-27 21:28] bacongobbler commented on #123
Are you running v2.0.0? That error indicates `psql` is not installed in your container.

[2016-06-27 21:34] monaka commented on #123
@bacongobbler Yes, v2.0.0.

It was fixed after deleted by using `kubectl delete po deis-database ...`.
So the container image has psql.
It's not impossible to delete psql in the instance by someone... but hard to image.

I thought it was occurred by memory exhaust. But the result of `free` on the node seems be healthy...

[code]

[2016-06-27 21:39] bacongobbler commented on #123
okay so if you're on v2.0.0 then the other reason this error would pop up is if wal-e could not get a connection to the database, as it says in the logs. Since the previous logs say

I would assume that is your issue, and that the database took an abnormally long time to boot. Once it was restarted it restored faster (likely connection issues to Azure?).

I've got a work-in-progress that removes t

[2016-06-27 21:45] monaka commented on #123
I see. I'll try the canary build after #112 is merged. And also trying more information when this issue was reproduced.

[2016-06-27 22:55] monaka commented on #123
BTW, some persons using Kube on Azure may have DNS related [issues](https://github.com/kubernetes/kubernetes/issues/14051).

It seems be reasonable if my issues I posted recently were DNS on Azure specific.
Tests (light weight usages) may be passed but production usages may be failed.

[2016-07-07 21:57] jackfrancis opened #126 "deis v2.1.0 database pod does not create s3 bucket upon install"
Using an s3-configured and generated `workflow-v2.1.0` chart, the database pod is failing to create the bucket specified in `tpl/generate _params.toml`.

[code]

Running AWS-backed k8s `v1.2.4`.

[2016-07-07 21:58] jackfrancis commented on #126
The full log output for the database pod:

[code]

[2016-07-07 22:05] bacongobbler commented on #126
It would seem that this is on AWS's end. You'll probably need to wait a while for their backend to sync before creating the bucket, according to this answer:

http://stackoverflow.com/questions/13898057/aws-error-message-a-conflicting-conditional-operation-is-currently-in-progress

[2016-07-17 05:39] monaka commented on #56
I got same failures after I applied PR #112. I'm going to inspect this.

[2016-07-17 05:55] monaka commented on #56
The similar issue: https://github.com/wal-e/wal-e/issues/247

[2016-07-18 01:31] monaka commented on #56
This behavior has been disappeared on my environment, same as the comment by @bacongobbler...

[2016-07-18 07:58] monaka commented on #56
I got the root cause In my case.
lzo files were uploaded to Azure Blob but some properties on specified files were broken.
I'm not sure my case is same as this issue as it may be Azure Blob dependent.

[2016-07-18 08:30] monaka commented on #123
I tried to #112 based builds and it seems to resolve this issue.
Even though [CI tests are failed randomly](https://github.com/deis/postgres/pull/112#issuecomment-233161778), it works well in my Workflow.

[2016-07-21 19:15] #67 closed, assigned to bacongobbler

[2016-07-22 23:49] monaka commented on #123
[code]

[2016-07-23 12:05] monaka commented on #123
Even though I don't have no certain evidence, I guess it is caused when there was executed Wal-E and psql at the same time. (Maybe,  psql inside Wal-E and psql outside WAL-E)

Deis/database container runs psql periodically.
I think there is no need to run psql under the recover mode. My guess is reasonable?

[2016-07-23 21:41] monaka commented on #123
Additional information:

Recovery failures with SIGQUIT may be decreased by upgrading the spec of the node running SkyDNS (not  the node running deis/database).
In my case, Azure D2_V2 (2core / 7GB RAM) to F4 (4core /8GB RAM).

And, upgrading specs seems not 'silver blullets'. Because still I have randomly termination by signal 3 from WAL-E.
But a  step forward.

(BTW, I'm curious. Referencing to

[2016-07-24 07:47] monaka opened #127 "Falied to spawn WAL-E in the recovery mode."
It is similar to #123 . But I suspect they are different issue for each other.

Sometimes the recovery process was failed with logs like this.

[code]

In this case, `0000000500000002000000FB` was restored and `0000000500000002000000FC` was failed to restore.

There have no `wal_e.main   INFO     MSG: starting WAL-E` message for `...FC`.
Referencing to  `cmd.py` in deis/wal-e, there is no route to

[2016-07-24 07:59] monaka commented on #127
As I referred at comment in #56, this issue is similar to https://github.com/wal-e/wal-e/issues/247.
He ( @xcompass ) reported that to Wal-E and I also suspected about Wal-E before.

[2016-07-25 00:09] kmala opened #129 "Use upstream wal-e instead of deis fork for azure/gcs"
Since wal-e upstream has the  fixes to work for both azure and gcs, change the postgres codebase to use the upstream code instead of deis fork.
Since https://github.com/wal-e/wal-e/issues/197 is still not fixed, we should continue to use the fork of wal-e but with just boto-3 changes on top.

[2016-07-25 22:11] bacongobbler commented on #126
closing as intentional upstream error. Nothing we can do here to remedy this other than log the error as we already do :)

[2016-07-25 22:11] #126 closed, assigned to nobody

[2016-07-25 22:13] bacongobbler commented on #93
tests have been added for swift, but tests are still pending for the other three.

[2016-07-26 00:29] monaka commented on #127
And may the another pattern.

It look Wal-E works well.
But the startup process killed suddenly by signal 9 after the message `LOG:  restored log file "000000090000000600000047" from archive`

[code]

The result of `kubectl describe po` is like below.

[code]

[2016-07-26 02:44] monaka opened #130 "Don't need liveness checking?"
It's not a bug report but just by my technical interest.

There have a readiness check in the resource controller yaml. But have no liveness check.
Does restarting Postgres make any troubles?

[2016-07-26 03:42] bacongobbler commented on #130
Restarting postgres wouldn't be a problem, however it's an incredibly time-expensive operation since the database will need to replay all WAL logs from object storage. There hasn't really been any case where we'd need a liveness check since the bootstrapping will exit if it fails at any point, and the database replay can take either a short amount of time (under a minute) to over 30 minutes depend

[2016-07-26 03:50] monaka commented on #130
I see. Exactly it's hard to choice it.
We can detect Database down indirectly via Controller or something. So it is less need to set.
I close this. Thanks for your answer, @bacongobbler !

[2016-07-26 03:50] #130 closed, assigned to nobody

[2016-08-01 19:27] #55 closed, assigned to bacongobbler

[2016-08-11 12:08] monaka commented on #127
Recent revisions of K8s uses kubedns+dnsmasq instead of SkyDNS. And it is known that the internal DNS in Azure cloud have poor performance. So I tried Dnsmasq with SkyDNS.
Exactly Dnsmasq improve responses of DNS query (more than 900% faster!).
But it seems not to fix this issue.

[2016-08-12 02:10] monaka opened #133 "Can't build the Docker image."
Seems Postgres in the apt repository is upgraded to 9.4.9-1.pgdg80+1 ?

[code]

[2016-08-12 03:33] monaka commented on #123
At least on my Deis Workflow, this issue was resolved by #112.
I guess this can be closed after #112 is merged.

[2016-08-12 03:39] monaka commented on #127
It seems that "exit code 2" is caused by exception(s?) in WAL-E (cmd.py). Not in Postgres.
And this may be reproduced in the official WAL-E also. I'll move this issue there.

[2016-08-12 16:15] #133 closed, assigned to nobody

[2016-08-12 19:24] bacongobbler opened #135 "refactor to be deployed as an app on workflow"
Right now if you attempt to add the following envvars and disable routing, the application won't deploy because it relies on the hard-coded secret paths:

[code]

I'd expect that with the above environment variables, deis/postgres should be deployable on Workflow as a standalone app.

[2016-08-12 19:41] krancour commented on #135
Just want some clarification on the intentions behind this... we don't want to deploy / run Workflow's _own_ Postgres this way, right? This is purely so that _others_ can easily deploy Postgres as a Workflow app, yes?

[2016-08-12 19:48] bacongobbler commented on #135
correct.

[2016-08-13 23:15] fdr commented on #127
Is it possible something is wrong with `0000000500000002000000FB`, or its restore? In this case WAL-E is getting killed with SIGQUIT by Postgres, which has apparently decided it wants to shut down.

[2016-08-14 02:27] monaka commented on #127
Indeed WAL-E may be killed by SIGQUIT. But I saw the another message on such cases.

In this case, log messages were changed to "exit core 5"  after I tried to change sys.exit(2) to sys.exit(5) . But with no message expected to print by logging.critical(). I wonder why...

[2016-08-14 03:45] fdr commented on #127
Can you try catching SystemExit and then dumping its traceback?

[2016-08-14 03:47] fdr commented on #127
Try dumping the error being caught stderr and/or stdout?

[2016-08-15 03:51] monaka commented on #127
I wrote additional info to wal-e/wal-e#268.
I think the WAL-E exits before the log message  is flushed.
I'll try dumping  to stderr also (as stdout will be buffered.)

[2016-08-15 19:02] bacongobbler commented on #129
only one change in boto2 is required for minio support so we don't have to support the boto3 fork: https://github.com/boto/boto/pull/3513.

[2016-08-17 19:01] bacongobbler commented on #86
closing as intentional

[2016-08-17 19:01] #86 closed, assigned to nobody

[2016-08-17 21:31] fdr commented on #129
Wait, you people have a boto3 patch that you know works? I would like it unless you think it has big caveats.

[2016-08-17 21:35] bacongobbler commented on #129
@fdr I broke a ton of backwards compatibility and it has a bunch of hacky workarounds, but you can check out https://github.com/deis/wal-e/commits/boto3-upgrade which is rebased on top of 0.8.1. We've been running it for a few months in prod but it breaks a lot of existing feature flags for wal-e and I never got around to cleaning it up for a PR. Sorry!

[2016-08-17 21:36] bacongobbler commented on #129
https://github.com/deis/wal-e/commit/e1702a36d95b0eb5a545adda266c5347840e57d6 along with the rest of the follow-up fixups makes up the meat of the work done to bring wal-e to boto3.

[2016-08-17 21:38] fdr commented on #129
Do you know which ones? it is too late to merge it for WAL-E 1.0, but maybe 1.1, unless the behavioral changes are big enough...

[2016-08-17 21:49] bacongobbler commented on #129
Following list of commits should do it:

https://github.com/deis/wal-e/commit/e1702a36d95b0eb5a545adda266c5347840e57d6
https://github.com/deis/wal-e/commit/2616fe8ec93c6609241a89f170f0a36d3240026a
https://github.com/deis/wal-e/commit/bde415b5f86d11dbc58bc77c9fd4eafde5ddafa7
https://github.com/deis/wal-e/commit/ed8f504938dca37dc1949ffc4db0f957a431a21d

couple of caveats:
- need some way to configur

[2016-08-17 22:02] fdr commented on #129
On Wed, Aug 17, 2016 at 2:49 PM Matthew Fisher notifications@github.com
wrote:

Not bad, but for the sake of legacy use I'd want to support older versions
as a non-default if it's not terrible.

I could likely add this. I use it.

I think that's okay. It was a pain because I was quite particular about
not letting the library (boto) abstractions leak to the user. That idea
long predates the era of

[2016-08-18 20:01] bacongobbler commented on #111
this is intentional as the latest postgres image still uses this signature. It's actually not an issue, just that the key is not certified with a trusted signature.

[2016-08-18 20:01] #111 closed, assigned to bacongobbler

[2016-09-10 02:20] olalonde opened #139 "Broken link in README"
K8s "the installation instructions" link is broken

[2016-09-14 22:29] #139 closed, assigned to bacongobbler

[2016-09-27 17:16] helgi opened #146 "use Xenial instead of Jessie apt repo path"
This causes some issues with swift when I tried it so lets just keep an eye on it and try it in the future

[2016-09-27 17:16] helgi opened #147 "Update go-dev"

[2016-09-29 21:07] #147 closed, assigned to bacongobbler

[2016-10-05 17:40] mattk42 commented on #63
FYI, I ran into what I think was the same thing on GKE running Kubernetes 1.2.6 on workflow 2.6.0. I have to run 1.2.6 for my own reasons, this doesn't seem to be a problem in 1.3.X or 1.4.0 from what I can tell.

[2016-10-05 18:23] #146 closed, assigned to bacongobbler

[2016-10-22 20:16] tmc opened #154 "crash looping on GKE: wal-e pipe capacity issue with newer kernels"
This is apparently due to https://github.com/wal-e/wal-e/issues/270

example spew:

[code]

[2016-10-25 22:54] bacongobbler opened #157 "inspect why /bin/backup stops running after a while"
We've found that /bin/backup eventually stops running or fails to execute, causing some databases to be running forever without a checkpoint being created in the last 12 hours. This causes users to manually update the readinessCheck as well as the PGCTLTIMEOUT value in https://github.com/deis/postgres/pull/155 to allow the database to finish a full replay from the last checkpoint. The longest (and

[2016-10-27 18:11] bacongobbler commented on #157
As it turns out, [`wal-e delete`](https://github.com/deis/postgres/blob/master/rootfs/bin/backup#L15) can block `/bin/backup` indefinitely if a file is missing. This error loops forever:

[code]

[2016-10-27 19:32] bacongobbler commented on #157
related: #108

[2016-10-27 19:39] bacongobbler commented on #154
Thanks for the report @tmc! What provider and k8s version did you use to deploy Workflow? That can help us nail down the issue so we can figure out a fix we could propose upstream and then bump wal-e to a release with that fix.

Did the fix in https://github.com/wal-e/wal-e/issues/270#issuecomment-240811659 work for you?

[2016-10-27 19:40] bacongobbler commented on #154
It might be a neat experiment to try a slightly older kernel version with kubernetes and see if this issue still persists.

[2016-10-28 00:21] tmc commented on #154
Yes that fix worked, GKE, k8s 1.4

[2016-10-31 18:56] #49 closed, assigned to nobody

[2016-10-31 18:56] #129 closed, assigned to kmala

[2016-10-31 18:57] bacongobbler commented on #127
this should be resolved via #137. If it isn't please re-open the issue at wal-e/wal-e. Thanks!

[2016-10-31 18:57] #127 closed, assigned to nobody

[2016-10-31 18:57] bacongobbler commented on #123
this should be resolved via #137. If it isn't please re-open the issue at wal-e/wal-e. Thanks!

[2016-10-31 18:57] #123 closed, assigned to nobody

[2016-10-31 22:49] bacongobbler opened #160 "socket.gaierror: [Errno -2] Name or service not known"
This issue cropped up after merging #137. It seems boto is attempting to connect to `s3-us-east-1.$DEIS_MINIO_SERVICE_HOST:$DEIS_MINIO_SERVICE_PORT` which is causing headaches for wal-e.

[code]

[2016-11-01 15:43] bacongobbler commented on #160
reverting via #162 for now which resolves this issue. I'll continue working on this in #161.

[2016-11-01 18:18] #160 closed, assigned to bacongobbler

[2016-11-06 05:42] monaka commented on #129
Sorry for my long absence.
I tried some recent official deis/postgres images.

Azure support in v2.2.6 may be broken. git-8448c7c is better but crashed on my host.
I'm inspecting the root cause. FYI.

[code]

[2016-11-07 20:44] bacongobbler commented on #157
See https://github.com/wal-e/wal-e/issues/293 as well as the upstream fix in https://github.com/wal-e/wal-e/pull/294

[2016-11-07 20:54] bacongobbler commented on #157
this error was actually fixed upstream in https://github.com/wal-e/wal-e/commit/b934a416861e9f3e74b0f56d68ae31ddf5e339b1 which is in wal-e v1.0.1.

I'll cut a v2.3.0 so others can upgrade to this release and we can add it to v2.9.

[2016-11-07 20:55] bacongobbler commented on #157
done. Anyone who wants this fix for GCS can use postgres v2.3.0 which includes wal-e v1.0.1.

[2016-11-07 20:55] #157 closed, assigned to bacongobbler

[2016-11-18 14:04] nailgun opened #164 "perform backup on shutdown"
Now backup is performed as background job. It would be nice to perform backup before shutdown, when a container gets TERM or INT signal.

[2016-11-18 16:50] bacongobbler commented on #164
backups are continuously performed with wal-e, which guarantees that a final WAL log will be shipped when SIGTERM is sent. In order to perform a base backup on shutdown, we would have to wait for this final WAL to to be shipped to S3/GCS, then perform the base backup.

As of right now we perform a base backup [as soon as the database has restored on first boot](https://github.com/deis/postgres/blo

[2016-11-18 17:20] nailgun commented on #164
It does. However doesn't help. Where this grace period is defined? Is it docker or kubernetes specific?

[2016-11-18 17:26] bacongobbler commented on #164
Docker. https://docs.docker.com/engine/reference/commandline/stop/

What are you trying to achieve with this, or what is the issue you're seeing? Perhaps there's an alternative solution. If you're concerned with a long delay between the base backups, you can tune it using BACKUP_FREQUENCY to a shorter interval. I've also bumped the default frequency in #165 to every 4 hours so base backups should

[2016-11-18 17:35] nailgun commented on #164
Actually I didn't expected this container will backup itself. But after I've found this, I expected it to backup before termination.

BTW [kubernetes defines](http://kubernetes.io/docs/user-guide/pods/#termination-of-pods) its own grace period. And there is also [pod's PreStop hook](http://kubernetes.io/docs/user-guide/container-environment/#hook-details) which can be used.

[2016-11-18 17:50] bacongobbler commented on #164
I guess we cold add a call to backup in the pre-stop hook. It will wont be a true full backup due to the last WAL log being shipped before shutdown, so there will still be a WAL log to restore from. I'll see what I can do.

[2016-11-18 18:38] nailgun commented on #164
Thank you!

[2016-11-23 02:00] tmc commented on #154
this is still present on k8s 1.4.6 on GKE

[2016-11-23 18:08] #164 closed, assigned to bacongobbler

[2016-11-23 20:05] bacongobbler commented on #154
Unfortunately there is nothing we can do on our end to fix this other than to use the provided workaround or to fix it in wal-e and bump the installed version. If you can provide a patch that fixes this issue for you, please make a PR upstream and we can bump wal-e forwards to the fix once it's merged.

I haven't seen this issue in the wild on GKE with k8s 1.4+ so I don't have a reliable test case

[2016-12-02 19:00] bacongobbler opened #173 "upgrading from v2.8.0 to v2.9.0 on S3 causes BucketAlreadyOwnedByYou error"
In v2.8.0 and in previous versions, we erroneously created the database bucket in the default us-east-1 region regardless of the set region. In v2.9.0 we corrected this, but when you upgrade from v2.8.0 to v2.9.0 you are greeted with this error:

[code]

This is because the bucket lookup code now logs into the specified region, and becuase it is not there it is not found. When boto attempts to cre

[2016-12-05 17:41] #173 closed, assigned to bacongobbler

[2017-01-03 21:15] fdr commented on #154
Hey all, WAL-E maintainer here.

I will accept a patch with a lower pipe size that doesn't tank performance that works with defaults or some adaptive code to deal with this new limit. I suspect the adaptive approaches may be more trouble than its worth, but if someone can surprise me, that'd be great.

[2017-01-10 21:27] jalberto opened #179 "when backups are not working DB is not available but state is running"
related to: https://github.com/deis/workflow/issues/693

is very confusing as failling to backup is blocking to use the DB at all but pod state don't give a clue about it

[2017-01-27 23:18] dmcnaught opened #184 "Using IAM perms for DB stopped working in workflow v2.9.0"
Looks like we're checking if the vars are not empty, instead of empty:
https://github.com/deis/postgres/compare/v2.2.5...v2.4.4#diff-aa1fb98afc438f3a92745a99a587b0acR33
https://github.com/deis/postgres/blob/1ef7a37d453c4d6d6e5cf14ff79a877c0d73f27a/rootfs/docker-entrypoint-initdb.d/001_setup_envdir.sh#L33
I'll open a PR with the fix.
Relates to:
https://github.com/deis/workflow/issues/712
https://g

[2017-01-30 21:26] bacongobbler commented on #184
closed via deis/postgres#186

[2017-01-30 21:26] #184 closed, assigned to vdice

[2017-02-10 01:37] lgastako commented on #154
I'm on k8s 1.5.2 on GKE.  When I try the workaround from https://github.com/wal-e/wal-e/issues/270#issuecomment-240811659 I get:

    root@deis-database-540367895-x6r6d:/# echo 0 > /proc/sys/fs/pipe-user-pages-soft
    bash: /proc/sys/fs/pipe-user-pages-soft: Read-only file system

Am I doing something wrong?

[2017-02-10 02:08] lgastako commented on #154
For anyone else that runs into the same problem I had, I was able to solve it by downloading the workflow chart, unpacking it and editing `database-deployment.yml` to add the annotation `security.alpha.kubernetes.io/sysctls: fs.pipe-user-pages-soft=0` to the Deployment.

[2017-04-13 21:17] jwalters-gpsw opened #192 "database backup trying to use AWS secrets rather than IAM when accesskey and secretkey are blank"
I have IAM setup and have confirmed it works in the deis  namespace by running up generic ubuntu and accessing the bucket successfully. However the database log is showing this:

[code]

My values config snippets are:

[code]

This is with chart 2.13 (assuming this is the latest).

[2017-04-13 21:56] jwalters-gpsw commented on #192
Maybe this? https://github.com/wal-e/wal-e/pull/289

[2017-04-13 22:09] bacongobbler commented on #192
Sounds like it! Feel like writing up a fix to add AWS_INSTANCE_PROFILE=1 to the environment if both the access key and secret key are not present?

This is where we'd need to set that: https://github.com/deis/postgres/blob/c480c013038cffb87632fec67e766fb8e9bb58dd/rootfs/docker-entrypoint-initdb.d/001_setup_envdir.sh#L31-L36

[2017-04-13 22:44] jwalters-gpsw commented on #192
Code at: https://github.com/deis/postgres/blob/c480c013038cffb87632fec67e766fb8e9bb58dd/rootfs/docker-entrypoint-initdb.d/001_setup_envdir.sh#L31-L36

should be (based on https://github.com/wal-e/wal-e/pull/289) :
[code]
This is based on the assumption you are using WAL-E build after Nov 28, 2016.

[2017-04-13 22:45] bacongobbler commented on #192
Yes. What I meant was would you mind writing up a PR with that code? If not I'll write one up.

[2017-04-13 22:45] jwalters-gpsw commented on #192
I'll see if I can figure out how to do this officially via a pull request

[2017-04-13 22:46] jwalters-gpsw commented on #192
I'll create a pull request.

[2017-05-10 19:29] tmc commented on #154
I ran into this again on an upgrade.

[2017-05-10 20:35] Bregor commented on #154
`security.alpha.kubernetes.io` will not work in GKE, because all alpha features disabled there.

[2017-05-10 22:27] fdr commented on #154
I think one could write a patch with some arithmetic to solve this (by
reading the value, generously estimating how many pipes will be created,
and dividing).

On Wed, May 10, 2017 at 12:29 PM Travis Cline <notifications@github.com>
wrote:

[2017-05-22 21:07] vdice opened #196 "build broken"
`make docker-build` failing, as alerted by ci: https://ci.deis.io/job/postgres/6/console

Confirmed same happens locally.

Failure centers around:
[code]
Seems we just need to bump postgres version specified in the Dockerfile? cc @mboersma

[2017-05-24 16:17] #196 closed, assigned to vdice

[2017-05-24 18:34] vdice opened #198 "azure.storage api discrepancy"
A recent PR bumping the [Postgres version](https://github.com/deis/postgres/commit/536a652a04fb64de1f86e9cd9f8e3b040c088972) (necessary as previous artifact was no longer being hosted) also updated an azure storage API call, from `BlobService` (azure.storage 0.20.0) to `BlockBlobService` (azure.storage 0.30.0).  Here was the error from `make test-functional`:
[code]
(See also https://stackoverflow

[2017-05-24 22:51] vdice commented on #198
If it wasn't clear: this issue occurs when azure is used as object storage for postgres (via installing Workflow with `global.storage=azure` and relevant details to the azure block...)

Even so, this is a blocker for v2.15.  Or, if not fixed, the latest commit we can tag of this repo for v2.15 would be https://github.com/deis/postgres/commit/4d55b4e5b93d06c3efb9045ed0dccf0a67c9bf12 (though I belie

[2017-05-25 23:10] #198 closed, assigned to vdice

[2017-08-01 17:55] miracle2k opened #200 "Backup restore loop: "Could not get a connection to the database:""
This is the same behaviour as in: https://github.com/deis/postgres/issues/123 The database container never comes up completely to pass a health check. It tries to restore from S3, and then fails.

The database image is quay.io/deis/postgres:v2.5.4 on AWS (I previously had the same problem on Azure).

[code]

Seems to me based on those last lines is that it's still downloading backup files, and the

[2019-08-14 20:11] #66 closed, assigned to nobody